/** Width */
.w-100 {
    width: 100%;
}
.w-70 {
    width: 70%;
}
.w-50 {
    width: 50%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.w-10 {
    width: 10%;
}

/** Height Properties */
.h-100 {
    height: 100%;
}

.h-60 {
    height: 60%;
}

.h-40 {
    height: 40%;
}


/** Margin Properties */
.m-1 {
    margin: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

/** Padding Properties */
.p-1 {
    padding: 1rem;
}

/** Flexbox css properties */
.d-flex {
    display: flex;

    &.flex-direction-column {
        flex-direction: column;
    }
}

/** Position Properties */
.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

/** Border Properties */
.border {
    border: 1px solid #000;
}